.DS_Store
FlickrSearch.xcodeproj/project.xcworkspace/xcuserdata/danielwallace.xcuserdatad/UserInterfaceState.xcuserstate
FlickrSearch/ODPlayground .playground/Results.playgrounddata
FlickrSearch.xcodeproj/project.xcworkspace/xcuserdata/danielwallace.xcuserdatad/